aside .hbag-category_playlist .jp-playlist {
  margin-bottom: 10px !important;
}

.hbag-category_playlist .jp-playlist {
  margin-bottom: 150px !important;
}

aside .options img.optionbtn {
  padding: 0px !important;
}

aside .hbgallery_artist {
  display: none;
}

